{% include "header.html" %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
								<h4 class="title">Create Organisational Unit</h4>
								<p class="category">All fields are required</p>
                            </div>
                            <div class="content">
								<form action="/ous" method="post">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label title="ou" for="form_ou">Name</label>
												<input type="text" id="form_ou" name="ou" class="form-control" placeholder="Users" value="" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label title="cn" for="form_description">Description</label>
												<input type="text" id="form_description" name="description" class="form-control" placeholder="Users" value="" required>
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-warning btn-fill pull-right">Create</button>
								</form>
                            </div>
                            <div class="content table-responsive table-full-width">
								<div class="header">
									<h4 class="title">Organisational Units</h4>
									<p class="category">All organisational units</p>
								</div>
								<div class="content">
                                <table class="table table-hover">
                                    <thead>
                                        <th>Organisational unit</th>
                                        <th>Description</th>
                                        <th>Path</th>
                                        <th>&nbsp;</th>
                                    </thead>
                                    <tbody>
										{% for ou in data %}
                                        <tr>
                                        	<td>{{ ou[1].get('ou')[0] }}</td>
                                        	<td>{{ ou[1].get('description')[0] }}</td>
                                        	<td>{{ ou[0] }}</td>
											<td><a href="/delete/{{ ou[0] }}" class="btn btn-simple"><i class="pe-7s-trash"></i> delete</a></td>
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>
								</div>
<div class="content">
<h4 class="title">Debug</h4>
<p class="category">This will be expandable eventually</p>
<pre>
{{ data | pprint }}
</pre>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% include "footer.html" %}
