{% include "header.html" %}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="header">
						<h4 class="title">Edit Profile</h4>
					</div>
					<div class="content">
						<form>
							<div class="row">
								<div class="col-md-5">
									<div class="form-group">
										<label>First Name</label>
										<input type="text" class="form-control" placeholder="First Name" value="{{ data[0][1].get('givenName')[0] }}">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>Last Name</label>
										<input type="text" class="form-control" placeholder="Username" value="{{ data[0][1].get('sn')[0] }}">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="exampleInputEmail1">Email address</label>
										<input type="email" class="form-control" placeholder="Email" value="{{ data[0][1].get('mail')[0] }}">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-5">
									<div class="form-group">
										<label>User ID</label>
										<input type="text" class="form-control" placeholder="First Name" value="{{ data[0][1].get('uid')[0] }}">
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label>User Number</label>
										<input type="text" class="form-control" placeholder="Username" value="{{ data[0][1].get('uidNumber')[0] }}">
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<label for="exampleInputLogin">Login Shell</label>
										<input type="text" class="form-control" placeholder="/bin/bash" value="{{ data[0][1].get('loginShell')[0] }}">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Password</label>
										<input type="password" class="form-control" placeholder="Password" >
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Repeat Password</label>
										<input type="text" class="form-control" placeholder="Repeat Password">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label>Description</label>
										<textarea rows="5" class="form-control" placeholder="" value="Mike">{{ data[0][1].get('description')[0] }}</textarea>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-warning btn-fill pull-right">Update Profile</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-user">
					<div class="image">
						<img src="/static/img/profile_bg.png" alt="..."/>
					</div>
					<div class="content">
						<div class="author">
							<img class="avatar border-gray" src="/static/img/faces/face-1.jpg" alt="..."/>
							<h4 class="title">{{ data[0][1].get('givenName')[0] }} {{ data[0][1].get('sn')[0] }}<br />
								<small>{{ data[0][1].get('uid')[0] }} - {{ data[0][1].get('initials')[0] }}</small>
							</h4>
						</div>
						<p class="description text-center">{{ data[0][1].get('mail')[0] }}</p>
					</div>
					<hr />
					<div class="text-center">
						<a href="/delete/{{ data[0][0] }}" class="btn btn-simple"><i class="pe-7s-trash"></i> Delete Account</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "footer.html" %}
