# Copyright (c) 2015, 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

# for mysql sync
[mysqld]
server-id=201811111
slave-skip-errors=all

replicate-do-db=ktsee_db1
replicate-do-db=ktsee_db2

replicate-ignore-db=mysql
replicate-ignore-db=information_schema
replicate-ignore-db=preformance_schema

innodb_file_per_table=1
log-bin=slave-bin
binlog_format=mixed
gtid_mode=on
enforce_gtid_consistency=on
binlog_format=mixed
log-slave-updates=1


